a{
  font-size: 50%;
  color: blue;
  text-align: center;
}



style{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: grid;
  place-items: center;
  background: rgb(255, 255, 255);
  margin: 0;
}


canvas { /* Usa un porcentaje más flexible */
  max-width: 80%; /* Define un ancho máximo para pantallas grandes */
  max-height: 80%; /* Ajusta dinámicamente según la altura de la pantalla */
  border: 5px solid rgb(0, 0, 0);
}


