

*{
    font-family:"jersey 15";
}

.container{
    display: flex;
    background-color: white;
    height: 800px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    margin-bottom: 80px;
}

.form{
    padding: 30px 80px;
    width: 50%;
    display:flex;
    flex-direction:column;
    padding-left: 240px;
    text-align: center;
}

.form h2{
    font-size: 45px;
    color: #4844A9;
    font-weight: 400;
    margin-bottom: 25px;
}

.form p{
    font-size: 16px;
    color: #969EAE;
    margin-bottom: 25px;
}

label{
    font-size: 15px;
    color: #969EAE;
    margin-bottom: 15px;
}

.box{
    border: 0;
    background-color: #F4F4FD;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    outline: none;
    text-align: center;
}


.archivo{
    margin-left: 100px;
}

.submit{
    background-color: #817ffe;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    width: 250px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(201, 199, 253, 0.5);
    margin-left: 125px;
}