#cabecera{
    width: 100%;
    position: absolute;
    top: 15%;
  }
  
  #jugar{
    left: 10%;
    position: absolute;
    display: flex;
    width: 100px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin: 1%;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }
  #mejor{
    right: 41%;
    position: absolute;
    display: flex;
    width: 130px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin: 1%;
    padding: 60px;
    justify-content: center;
    align-items: center;
  }
  #control{
    right: 10%;
    position: absolute;
    display: flex;
    width: 110px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin: 1%;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }
  #extra{
    left: 10%;
    position: absolute;
    display: flex;
    width: 100px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin-right: 10px;
    margin: 1%;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }
  #enviar{
    right: 41%;
    position: absolute;
    display: flex;
    width: 100px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin-right: 10px;
    margin: 1%;
    padding: 80px;
    justify-content: center;
    align-items: center;
  }
  #titulo{
    right: 10%;
    position: absolute;
    display: flex;
    width: 145px;
    background-color: rgb(217, 255, 0);
    border-radius: 10px;
    margin-right: 10px;
    margin: 1%;
    padding: 63px;
    justify-content: center;
    align-items: center;
  }
  a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    font-family:"Jersey 15";
  }
  a:hover {
    color: #dd00ff;
  }
#menu{
    width: 100%;
    position: absolute;
    top: 60%;
  }