@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body,html{
  width: 100%;
  height: 100%;
  font-size: 100%;
  color: rgb(0, 0, 255);
  text-align: center;
  display: grid;
  place-items: center;
  background: rgb(0, 153, 255);
  margin: 0;
}
ul.cabecera{
  width: 100%;
  position: relative;
  background-color: rgb(255, 0, 0);
  border: 5px solid black;
}
li.cabecera{  
  display: inline-block; 
  border: 5px solid black;
  font-weight: bold;
  background-color: rgb(217, 255, 0);
  border-radius: 15px;
}
ul.cabecera,a{
  color:rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-family:"Pixelify Sans", sans-serif;

}
a:hover {
  color: #dd00ff;
}
ul.cabecera,li{
  margin-top: 0%;
  padding: 20px;
}


canvas { /* Usa un porcentaje más flexible */
  max-width: 85%; /* Define un ancho máximo para pantallas grandes */
  max-height: 90%; /* Ajusta dinámicamente según la altura de la pantalla */
  border: 5px solid rgb(0, 0, 0);
  border-radius: 15px;
}
#run{
  float: left;
  height: 100%;
  width: 33.3%;
}
#jump{
  float: right; 
  height: 100%;
  width: 33.3%;
}
#run p{
  color: white;
  font-size: xx-large;
  font-family: "Pixelify Sans", sans-serif;
}
#jump p{
  color: white;
  font-size: xx-large;
  font-family: "Pixelify Sans", sans-serif;
}
#d{
  width: 25%;
  height: 35%;
}
#a{
  width: 25%;
  height: 35%;
}
#espacio{
  width: 35%;
  height: 35%;
}
#reset{
  float: left;
  height: 100%;
  width: 33.3%;
}
#reset p{
  color: white;
  font-size: xx-large;
  font-family: "Pixelify Sans", sans-serif;
}
#rei{
  padding: 5.5%;
  width: 25%;
  height: 25%;
}
#r{
  width: 25%;
  height: 35%;
}
#w{
  width: 25%;
  height: 35%;
}
table {
  height: 300px;
  width: 1000px;
}
caption{
  font-family: "Pixelify Sans", sans-serif;
  color:white;
  font-size:xx-large;
}
#name{
  font-family: "Pixelify Sans", sans-serif;
  height: 50px;
  background-color:greenyellow;
  font-size: 140%;
}
td, th {
  font-family: "Pixelify Sans", sans-serif;
  font-style: normal;
  height: 50px;
  background-color: white;
  border: solid 5px black;
  border-radius: 5px;
}
#top{
  font-size: large;
  color: rgb(239, 184, 16);
  background-color: black;
}
td.top{
  width: 10%;
  color: black;
}
#p{
  display:inline;
  vertical-align: 70%;
}
video{
  height: 90%;
  width: 80%;
  border: solid 5px black;
  border-radius: 10px;
}
a.name{
  background-color: transparent;
  font-family: "Pixelify Sans", sans-serif;
}
#domi{
  font-size: medium;
}